@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; 
}
/* Animasi tambahan untuk kartu */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}
section {
  scroll-margin-top: 80px;
}

html {
  scroll-behavior: smooth;
}